
<% if locals[:message] == "current_user page" %>
  <h1>Welcome to your Beer Tracker User Page <%=@user.username%></h1>
  <h4>Here are all your beer experiences:</h4>
<% else %>
  <h1>Welcome to <%=@user.username%>'s Beer Tracker User Profile</h1>
  <h4>Here are all their beer experiences:</h4>
<% end %>


<% if flash.has?(:message) %>
  <h3> <%= flash[:message] %> </h3>
  <br>
<% end %>

<!-- Style.all.order(:name).each -->
<% @user.experiences.order(created_at: :desc).each do |experience| %>
  <div>
    <p><%=experience.beer.name%> <br>
    Rating: <%=experience.rating%>  <button><a href="/experiences/<%=experience.id%>">View details</a></button></p>
  </div>
<% end %>
