<h1>New Experience</h1>
<h2>Having a Drink? Keep track of it by creating a new experience.  </h2>
<br>

<% if flash.has?(:message) %>
  <h3> <%= flash[:message] %> </h3>
  <br>
<% end %>

<% if @errors %>
  <h4> The following errors occurred when submitting your information:</h4>
  <ul>
    <% @errors.each do |error| %>
      <li> <%= error%> </li>
    <% end %>
  </ul>
<br>
<% end %>


<% if locals.empty? %>
  <form method="POST" action="/experiences/new/brewery">
    <h4>Begin by selecting your beer's brewery from the list</h4>
    <select name="brewery_id">
        <option value="">None</option>
      <% Brewery.all.order(:name).each do |brewery|%>
        <option value="<%=brewery.id%>"><%=brewery.name%></option>
      <% end %>
    </select>
    <br></br>

    <h4>If the brewery does not appear on the list, please fill out the brewery information below</h4>

    <label for="new_brewery">Brewery Name:</label>
    <input type="text" name="new_brewery[name]" id="new_brewery"></input>
    <br>
    <label for="new_brewery_country">Brewery Country:</label>
    <input type="text" name="new_brewery[country]" id="new_brewery_country"></input>
    <br>

    <button type="submit">Continue</button>
  </form>
<% end %>

<% if locals[:message] == "brewery located/created" %>
  <h3> <%=@brewery.name%> Selected </h3>
  <form method="POST" action="/experiences/new/beer">
    <h4>Next, select your beer from the list of <%=@brewery.name%> beers:</h4>
    <select name="beer_id">
        <option value="">None</option>
      <% @brewery.beers.order(:name).each do |beer|%>
        <option value="<%=beer.id%>"><%=beer.name%></option>
      <% end %>
    </select>
    <br></br>
    <h4>If your beer doesn't appear on the list, please fill out the information below to add your beer to Beer Tracker and continue creating your experience:</h4>
    <h4>Please note: <br> beer name, beer style, and beer ABV are all required fields</h4>
    <br>
    <h4> <strong>Brewery:</strong> <%=@brewery.name%> </h4>
    <input type="hidden" name="brewery_id" id="brewery_name" value="<%=@brewery.id%>"</input>
    <br>
    <label for="beer_name">Beer Name:</label>
    <input type="text" name="beer[name]" id="beer_name"></input>
    <br>
    <label for="beer_style">Beer Style:</label>
    <select name="beer[style_id]">
      <option value="">None</option>
      <% Style.all.order(:name).each do |style|%>
          <option value="<%=style.id%>"><%=style.name%></option>
      <% end %>
    </select>
    <br>
    <h4>If beer style is not on list please fill out beer style information:</h4>
    <label for="style_name">Style Name:</label>
    <input type="text" name="style_name" id="style_name"></input>
    <br>

    <label for="beer_abv">ABV:</label>
    <input type="text" name="beer[abv]" id="beer_abv"></input>
    <br>
    <label for="beer_ibu">IBU:</label>
    <input type="text" name="beer[ibu]" id="beer_ibu"></input>
    <br>
    <label for="beer_description">Description:</label>
    <br>
    <textarea name="beer[description]" id="beer_description"></textarea>
    <br>


    <button type="submit">Continue</button>
  </form>

<% end %>

<% if locals[:message] == "beer located/created" %>
  <h3><a href="/beers/<%=@beer.id%>"> <%=@beer.name%></a></h3>
  <h4>By: <a href="/breweries/<%=@beer.brewery.slug%>"> <%=@beer.brewery.name%></a></h4>
  <h3>So, <%=current_user.name%>, how did you like that <%=@beer.name%>?</h3>
<% end %>
