<h1>Edit Your Experience <%=@experience.user.name%></h1>
<h3><a href="/beers/<%=@experience.beer.id%>"> <%=@experience.beer.name%></a></h3>
<h4>By: <a href="/breweries/<%=@experience.beer.brewery.slug%>"> <%=@experience.beer.brewery.name%></a></h4>
