<%if logged_in? && experience_ownership?(@experience)%>
  <h1>Welcome, <%=@experience.user.name%></h1>
  <h2>Here's your experience:</h2>
  <% else %>
    <h3><%=@experience.user.name%> tasted a: </h3>
<% end %>
<div >
<h3><a href="/beers/<%=@experience.beer.id%>"> <%=@experience.beer.name%></a></h3>
<h4>By: <a href="/breweries/<%=@experience.beer.brewery.slug%>"> <%=@experience.beer.brewery.name%></a></h4>
<h5>Rating: <%=@experience.rating%> of 5 on <%=@experience.created_at%></h5>
<p>Comments: "<%=@experience.comments%>"</p>
</div>
