<h1>List of All Beers</h1>

<table>
  <tr>
    <th>Beer</th>
    <th>Brewery</th>
    <th>Style</th>
    <th>ABV</th>
    <th>IBU</th>
  </tr>
    <% Beer.all.each do |beer| %>
      <tr>
        <td><a href="/beers/<%=beer.id%>"><%= beer.name %></a></td>
        <td><a href="/beers/<%=beer.id%>"><%= beer.brewery.name %></a></td>
        <td><%= beer.style.name%></td>
        <td><%= beer.abv%></td>
        <td><%= beer.ibu%></td>
      </tr>
    <% end %>
<table>
